[database]
host = 0.0.0.0
port = 5432
user = musicbrainz
database = musicbrainz
; password = password

[rabbitmq]
host = 0.0.0.0
port = 5672
user = guest
pass = guest
vhost = /

[caa]
public_key = {public key here}
private_key = {private key here}
upload_url = //{bucket}.s3.us.archive.org{file}
